.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
  }
  
  .product-preview {
    width: 100%; 
    max-width: 100%;
    border-radius: 12px; 
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
  flex-direction: column;
  }
  
  .product-preview .image-wrapper {
    width: 100%; 
    height: auto;
    overflow: hidden;
  }
  
  .product-preview .image-wrapper img {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }
  
  .product-preview .product-info {
    padding: 20x; 
    display: flex;
  justify-content: space-between; 
    flex-direction: column; 
    height: 100%; 
  }
  
  .product-preview .product-title {
    font-weight: bold; 
    margin-bottom: 5px; 
    align-self: flex-start;
  }
  
  .product-preview .product-price {
    color: #555; 
    align-self: flex-end;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define el tamaño mínimo y máximo de cada columna */
    gap: 10px; /* Espacio entre las imágenes */
  }
  
  .image-gallery img {
    max-width: 100%; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Mantiene la relación de aspecto */
  }

  .product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    gap: 30px; /* Spacing between columns */
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image vertically */
  }
  
  .image-gallery {
    grid-column: span 3; /* Spans all three columns */
    margin-top: 30px; /* Spacing above the gallery */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define the size of gallery images */
    gap: 10px;
  }
  
  
  